.Menu {
  background-color: lightskyblue;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 1em;
  border-radius: 1em;
}
.Menu h1 {
  background-color: lightskyblue;
  margin: auto;
}

#menu-links {
  display: flex;
  padding-left: 1em;
  background-color: lightskyblue;
}

#menu-links a {
  padding-right: 0.5em;
  color: white;
  text-decoration: none;
  cursor: pointer;
}
